@media(max-width: 800px ){
    main{
        flex-wrap: wrap-reverse;
        justify-content: center;
        text-align: center;
        gap: 5rem;
    }
    header{
        position: relative;
        padding: 1rem 0;
    }
    header h1{
        padding-left: .7rem;
    }
    .hero_text h1{
        font-size: 2.5rem;
    }
    .bun{
        display: inline;
        padding-right: .7rem;
    }
    #menu{
        cursor: pointer;
        padding: .4rem;
    }
    #cross{
        cursor: pointer;
        display: none;
        padding: .4rem;
    }

    #navbar{
        display: none;
    }
    .nav_links_container{
        flex-direction: column;
        position: absolute;
        top: 80px;
        background-color: rgb(218, 218, 219);
        height: auto;
        padding: 2rem 0;
    }
    .main_links{
        flex-direction: column;
    }
    .login_section ul{
        flex-direction: column;
        margin-top: 2rem;
    }


}